<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"></head>
<!--<header th:replace="fragments/header :: headerFragment(title='사람인 오픈 API')"></header>-->
<header th:replace="fragments/header :: headerFragment"></header>
<script th:src="@{/js/member.js}"></script>


<h2> 개발자 로그인 </h2>
<div class="container">
    <form th:action="@{/login}" method="post" id="loginFrm">
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="내용을 입력하세요.">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" id="btn_login" class="btn btn-primary">로그인</button>
        <button id="btn_join" class="btn btn-primary">회원가입</button>
    </form>
</div>
<footer th:replace="fragments/footer:: footerFragment"></footer>
</html>
