<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/config :: configFragment"></head>
    <header th:replace="fragments/header :: headerFragment"></header>
    <!-- Gnb -->
    <nav th:replace="fragments/gnb"></nav>
    <!-- Gnb end -->
    <div class="container">
        <h2> 개발자 마이페이지 </h2>
        <h4>내 정보</h4>
        <ul>
            <li>이름 : <span th:text="${name}"></span></li>
            <li>회사 : <span th:text="${companyName}"></span> </li>
            <li>이메일 : <span th:text="${email}"></span> </li>
        </ul>

    </div>
    <footer th:replace="fragments/footer:: footerFragment"></footer>
</html>
