<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SARAMIN OPEN API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <!-- //active -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">API</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                    <a class="dropdown-item" href="/api">사람인 오픈API</a>
                    <a class="dropdown-item" href="#">취업검색 API </a>
                    <a class="dropdown-item" href="#">채용공고 API</a>
                    <a class="dropdown-item" href="#">취업검색 API URL</a>
                    <a class="dropdown-item" href="#">사람인 코드</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">DEVELOPER</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                    <a class="dropdown-item" href="/developer">DEVELOPER</a>
                    <a class="dropdown-item" th:unless="${session.userLoginInfo}" href="/developer/join">개발자 등록</a>
                    <a class="dropdown-item" th:if="${session.userLoginInfo}" href="/developer/my-page">내 개발자 보기</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">APPLICATION</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                    <a class="dropdown-item" href="/application">APPLICATION</a>
                    <a class="dropdown-item" href="/application/index">내 앱 등록 </a>
                    <a class="dropdown-item" th:if="${session.userLoginInfo}" href="/application/app-list">내 앱 목록 </a>
                </div>
            </li>

            <li th:if="${session.userLoginInfo}" class="nav-item">
                <a class="nav-link" href="/logout">로그아웃</a>
            </li>
            <li th:unless="${session.userLoginInfo}" class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
        </ul>
    </div>
</nav>
</html>