<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SARAMIN OPEN API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <!-- //active -->
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/developer/index">DEVELOPER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/application">APPLICATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
        </ul>
    </div>
</nav>
</html>