<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/config :: configFragment"></head>
    <header th:replace="fragments/header :: headerFragment"></header>
    <body>
        <!-- Gnb -->
        <nav th:replace="fragments/gnb"></nav>
        <!-- Gnb end -->
        api 설명
        <ul>
            <li><a href="#allRecruit">취업</a></li>
            <li><a href="#recruit">공고</a></li>
        </ul>
        <footer th:replace="fragments/footer:: footerFragment"></footer>
    </body>
</html>
